// Mobile
$bp-mob-390: 390px;
$bp-mob-360: 360px;
$bp-mob-412: 412px;

// Tablet
$bp-tab-768: 768px;
$bp-tab-800: 800px;

// Desktop
$bp-desk-1366: 1366px;
$bp-desk-1440: 1440px;
$bp-desk-1920: 1920px;

// Até 412px
@mixin mobile {
  @media (max-width: #{$bp-mob-412}) {
    @content;
  }
}

// Entre 768px e 1024px
@mixin tablet {
  @media (min-width: #{$bp-tab-768}) and (max-width: 1024px) {
    @content;
  }
}

// A partir de 1366px
@mixin desktop {
  @media (min-width: #{$bp-desk-1366}) {
    @content;
  }
}