// Mobile
$bp-mob-390: 390px;
$bp-mob-360: 360px;
$bp-mob-412: 412px;

// Tablet
$bp-tab-768: 768px;
$bp-tab-800: 800px;

// Desktop
$bp-desk-1366: 1366px;
$bp-desk-1440: 1440px;
$bp-desk-1920: 1920px;