body{
    color: white;
    font-family: 'Roboto', sans-serif;
}

a,
button,
input,
textarea,
select,
summary,
label,
[role="button"],
[tabindex],
[onclick],
svg,
svg * {
  -webkit-tap-highlight-color: transparent;
}